<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="char-image-long" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    {{!-- <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/> --}}
    <div class="header-fields">
      {{!-- <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1> --}}
      <div class="grid"></div>
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        <div class="summary flexrow">
          <label for="system.traits.origin" class="resource-label">
            Origin
          </label>
          <input type="text" name="system.traits.origin" value="{{system.traits.origin}}" />
        </div>
        <div class="summary flexrow">
          <label for="system.traits.identity" class="resource-label">
            Identity
          </label>
          <input type="text" name="system.traits.identity" value="{{system.traits.identity}}" />
        </div>
        <div class="summary flexrow">
          <label for="system.traits.theme" class="resource-label">
            Theme
          </label>
          <input type="text" name="system.traits.theme" value="{{system.traits.theme}}" />
        </div>
        <div>
          <span>Roll Test</span>
          <div>
            {{!-- <span class="ability-mod rollable" data-roll="d6+d6" data-label="Banana">{{numberFormat decimals=0 sign=true}}</span> --}}
          </div>
        </div>

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.hp.value" class="resource-label">HP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.mp.value" class="resource-label">MP</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.mp.max" value="{{system.mp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"/>
          </div>
        </div>

        {{#each system.attributes as | attribute key | }}
          <div class="resource flex-group-center">
            {{!-- <label for="system.attributes.{{key}}.value" class="resource-label">{{attribute.label}}</label> --}}
            <h4 class="rollable box-title" data-rolltype="attribute" data-selected-attribute="{{key}}" data-selected-attribute-size="{{attribute.value}}">{{key}}</h4>
            <div class="resource-content flexrow flex-center flex-between">
              <select name="system.attributes.{{key}}.value" selected="{{attribute.value}}">
                <option selected="selected" value="d6">d6</option>
                <option value="d8">d8</option>
                <option value="d10">d10</option>
                <option value="d12">d12</option>
              </select>
            </div>
          </div>
        {{/each}}
        {{!-- <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" /> --}}
        </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="bonds">Bonds</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Bonds Tab block --}}
    <div class="tab bonds" data-group="primary" data-tab="bonds">
      {{!-- Bonds container --}}
      <div>
          <div class="group-border">
            <span class="text-vertical-pill">Bonds</span>
            {{#each system.bonds as | bond bondKey | }}
            {{!-- {{log "bond #" bondKey bond}} --}}
            <div class="resource flex-group-center">
              {{!-- The bond recipient / target --}}
              <label for="system.bonds.{{bondKey}}.target">{{bond.target}}</label>
              <input type="text" name="system.bonds.{{bondKey}}.target" value="{{bond.target}}" />
  
              {{!-- Bond qualities --}}
              {{#each bond.qualities as | quality qualityKey | }}
              {{!-- {{log "quality #" qualityKey quality}} --}}
              <label for="system.bonds.{{bondKey}}.qualities.{{qualityKey}}.posVal">{{quality.pos}}</label>
              <input type="checkbox" name="system.bonds.{{bondKey}}.qualities.{{qualityKey}}.posVal"
                value="{{quality.posVal}}" {{checked quality.posVal}} data-dtype="Boolean" />
  
              <label for="system.bonds.{{bondKey}}.qualities.{{qualityKey}}.negVal">{{quality.neg}}</label>
              <input type="checkbox" name="system.bonds.{{bondKey}}.qualities.{{qualityKey}}.negVal"
                value="{{quality.negVal}}" {{checked quality.negVal}} data-dtype="Boolean" />
              {{/each}}
            </div>
            {{/each}}
          </div>
      </div>
    </div>
  </section>
</form>

